@import url(medium.css) (min-width: 481px) and (max-width: 768px)
@import url(small.css) (max-width: 480px)

/* This base file is to be applied on every screen */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* box-sizing: border-box; */
	-webkit-box-sizing: border-box;
}

input {
	-webkit-user-select: auto !important;
}

body, html {
	height: 100vh;
	margin: 0;
	overflow: hidden;
	font-family: Verdana, Helvetica;
	font-weight: 100;
}
/* -- */

/* Full Container
 * This is, the middle, the sidebar-left and sidebar-right
 * container.
 */
#container {
	position: absolute;
	height: 100vh;
	width: 100vw;

	/* When we access the second subbar
	 * comes from the right.
	 */
	right: 0;
	transition: right 0.4s ease-in-out;
	-webkit-transition: right 0.4s ease-in-out;
}

#container.openRight {
	right: 80vw;
}
/* End of Full container */

/* Middle
 * This is the center div
 */
#middle {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

	.title {
		position: absolute;
		background: #eee;
		width: 100vw;
	}

		.title h1 {
			color: #444;
			font-size: 1.2rem;
			position: relative;
			padding-left: 15px;
			float: left;
		}

		.title .sidebar-toggle {
			position: relative;
			float: right;
			background: url('../img/activity.png')
		}
/* End of middle menu */


/* Right Menu
 * This is the right menu
 */
#sidebar-right {
	/*
	left: -250px;
	width: 250px;
	*/
	right: -85vw;
	width: 85vw;

	position: absolute;
	background: #135b93;
	height: 100vh;
}

	/* .menu is child of #sidebar-right */
	.menu {
		position: relative;
		height: 100vh;
		width: 100%;
	}

		.menu ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

			.menu ul li {
				margin: 0;
			}

				.menu ul li a {
					padding: 1rem 1.2rem;
					font-size: 1rem;

					font-weight: 100;
					color: white;
					text-decoration: none;
					display: block;
					border-bottom: 1px solid #053D68;
					transition: background 0.1s ease-in-out;
					-webkit-transition: background 0.1s ease-in-out;
				}

				.menu ul li:active a {
					background: red
				}
/* End of Right Menu */

/* Util CSS */
.hide {
	display: hidden;
}
