@import url(base.css);
@import url(medium.css) (min-width: 481px) and (max-width: 768px);
@import url(small.css) (max-width: 480px);

/* This should be applied to everyone */
* {
	/* To remove the highlight*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	/* To make borders and paddings part of the width */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input {
	-webkit-user-select: auto !important;
}

body, html {
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: helvetica, verdana;
	font-weight: 100;
}

/* End of All */

/* Container CSS */
.container {
	position: relative;
	height: 100%;
	width: 100%;
	left: 0;
	-webkit-transition: left 0.4s ease-in-out;
	-moz-transition: left 0.4s ease-in-out;
	-ms-transition: left 0.4s ease-in-out;
	-o-transition: left 0.4s ease-in-out;
	transition: left 0.4s ease-in-out;
}

.container.open-sidebar {
	left: 15rem;
}
/* End of container */

/* Sidebar Start */
#sidebar {
	left: -15rem;
	position: absolute;
	background: #135b93;
	width: 15rem;
	height: 100%;
	box-sizing: border-box;
	-mox-box-sizing: border-box;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar ul li {
	margin: 0;
}

#sidebar ul li a {
	padding: 1rem 1.2rem;
	font-size: 1rem;
	font-weight: 100;
	color: white;
	text-decoration: none;
	display: block;
	border-bottom: 0.1rem solid #053D68;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	/*
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	*/
	transition: background 0.1s ease-in-out;
}

#sidebar ul li:active a {
	background: red;
}

/* SideBar end */

/* Main Stuff */
.main {
	width: 100%;
	height: 100%;
	/*padding: 10px;*/
	position: relative;
	/* Esto mejora la situacion :) */
	overflow: scroll;
}

/* Title CSS */
.main .title {
	background: #eee;
}

.main .title h1 {
	position: relative;
	float: left;
}

.main .title a.add {
	position: relative;
	float: right;
	background: url('../img/addbtn.png');

	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);

	transition: transform 0.1s ease-in-out;
	-moz-transition: -moz-transform 0.1s ease-in-out;
	-webkit-transition: -webkit-transform 0.1s ease-in-out;
}

.main .title a.add.rotated {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
/* End Title CSS */

/* Content CSS */
.main .content {
	width: 100%;
	position: absolute;
}

.main .content h1	{
	font-weight: 100;
}

.main .content p {
	width: 100%;
	line-height: 160%;
}

.main .content .timer {
	text-align: center;
}

	.timer span#clock {
		font-weight: bold;
	}

/* End Content CSS */

/* Side bar toggle */
.main #sidebar-toggle {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url('../img/mdpi/menu.png');
}

@media (min-width: 800px) {
	.main #sidebar-toggle {
		background-image: url('../img/hdpi/menu.png');
	}
}
/*
.main #sidebar-toggle {
	background: #135B93;
	border-radius: 0.3rem;
	display: block;
	position: relative;
	padding: 0.4rem 0.4rem;
	float: left;
}

.main #sidebar-toggle .bar {
	display: block;
	width: 1.3rem;
	margin-bottom: 0.3rem;
	height: 0.2rem;
	background-color: #fff;
	border-radius: 0.1rem;
}

.main #sidebar-toggle .bar:last-child {
	margin-bottom: 0;
}
*/
/* Side Bar Toggle */

/* Task Css */
#tasks {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.task {
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.5rem;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	width: 100%;
}

	.task .cont {
		float: left;
		margin-left: 0.7rem;
	}

		.cont .stitle {
			font-size: 1.1rem;
			margin-top: 0 !important;
			margin-bottom: 0.5rem !important;
		}
	
		.cont .description {
			font-size: 0.9rem;
			color: #172B57;
		}

	.task .time {
		padding: 0.8rem 0.8rem;
		position: relative;
		float: left;
		margin-left: 0.9rem;
	}
/* End of Task */

/* Buttons CSS */

/* End of Buttons */
