#tasks {
	position: relative;
	width: 100%;
	margin-top: 0.9rem;
}

.task {
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.5rem;
	/*background: #70E5B3; */
	/*
	margin: 15px;
	padding: 0 10px 0 10px;
	*/
	margin: 0 auto;
	position: relative;
	display: inline-block;
	width: 100%;
}

	.task .cont {
		float: left;
		margin-left: 0.7rem;
	}

		.cont .stitle {
			font-size: 1.1rem;
			margin-top: 0 !important;
			margin-bottom: 0.5rem !important;
		}
	
		.cont .description {
			font-size: 0.9rem;
			color: #172B57;
		}

	.task .time {
		padding: 0.8rem 0.8rem;
		position: relative;
		float: left;
		margin-left: 0.9rem;
	}

.button {
	float: right;
	padding: 0.8rem 0.8rem;
	background: #eee;
	margin-right: 0.9rem;
	text-decoration: none;
	color: #555;
	border-radius: 0.3rem;
}

.button:active {
	background: #bbb;
	color: #fff;
}

.addtask {
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(100,100,100,0.5);
	z-index: 10;
	position: absolute;
}

.conta {
	background: #fff;
	margin: 1.2rem;
	padding: 0.7rem;
	border-radius: 0.3rem;
	/*	overflow: auto; /* This is a Hack to make the input be in the place
									 I what it to be. Stupid float :| */
	text-align: center;
}

	.conta h4 {
		position: relative;
		/* text-align: center; */
	}

	.conta input {
		position: relative;
		/* float: left; */
	}

.hide {
	display: none !important;
}

.task_btn {
	margin: 1.1rem;
}
.task_btn .button {
	float: none !important;
}

input {
	border: 0.1rem solid #c7c7c7;
	border-radius: 0;
	height: 2rem;
	font-size: 0.9rem;
	padding: 0rem 0.5rem;
	margin: 0 0 0.5rem;
	width: 90%;
}

/* Button Stuff */
.button.warning {
	background: #FF5757;
}

.button.warning:active {
	background: #FF0000;
}

.button.ok {
	background: #66A4FF;
	color: white;
}

.button.ok:active {
	background: #1572FB;
	color: white;
}

/* progress stuff */
progress[value] {
	margin-top:3.3rem;
	height: 0.3rem;
	display: block;
	width: 100%;
	border: medium none;
	background: #fff;
}

progress[value]::-webkit-progress-value {
	background-color: #1572FB;
}

progress[value]::-webkit-progress-bar {

	background-color: #f4f4f4;

	animation: move 0.5s steps(15) infinite;
	-webkit-animation: move 0.5s steps(15) infinite;
	-moz-animation: move 0.5s steps(15) infinite;

	background-image: url('../img/activity.png');
	background-repeat: repeat;
	background-size: 1rem auto;
}

				@keyframes move {	from { background-position: 0.0; } to { background-position: 1rem 0; } }
   @-moz-keyframes move {	from { background-position: 0.0; } to { background-position: 1rem 0; } }
@-webkit-keyframes move {	from { background-position: 0.0; } to { background-position: 1rem 0; } }
